{{ "<!-- paginator.html (site override) -->" | safeHTML }}
{{- $pagerSize := .Params.Paginate }}
{{- $pages := .RegularPagesRecursive }}
{{- if .IsHome }}
    {{- $pages = where site.RegularPages "Section" "in" site.Params.mainSections }}
    {{- if not $pages }}
        {{- $pages = where site.RegularPages "Section" "in" (slice "work" "writing") }}
    {{- end }}
{{- end }}
{{- $paginator := .Paginate $pages }}
{{- if $pagerSize }}
    {{- $paginator = .Paginate $pages $pagerSize }}
{{- end }}
{{- return $paginator }}
